<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>Sašo Marković | Engineer, Designer & Developer </title>
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <meta name="description" content="Hi, I am Sašo. An engineer, designer and developer. Open the page and check my creations.">
    <meta name="author" content="Sašo Marković">
    <meta name="keywords" content="Sašo Marković, Sašo, Marković, 4Note, RunFest, Drinkaton, smark, products, creations, projects, about, developer, designer, engineer, contact, get in touch, saso.smark@gmail.com">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but this page doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
