@mixin font-face($family, $src, $weight) {
    @font-face {
        font-family: $family;
        src:
            url('#{$src}.woff2') format('woff2'),
            url('#{$src}.woff') format('woff');
        font-weight: $weight;
        font-display: swap;
        unicode-range: U+000-5FF; /* Latin glyphs */
    }
}

@include font-face('Roboto', '~@/assets/fonts/Roboto-Regular', 400);
@include font-face('Roboto', '~@/assets/fonts/Roboto-Bold', 700);